<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs')%>
            <main id="mainContent" class="p-4 p-md-5">
                <section id="content">
                
                </section>
                <section></section>
                <section></section>
            </main>
<%- include('partials/footer.ejs') %>