<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
</head>
<body>
    <h1>Welcome: <%= user_name %></h1>
    <h2>User ID: <%= user_id  %></h2>
    <h2>Simulated Finger ID: <%= user_fingerID %></h2>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>