<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs')%>

<main id="mainContent" class="p-4 p-md-5">
    <section id="landPage">
        <div class="container">
            <div class="row d-flex flex-column align-items-center justify-content-center flex-md-row">
                <div class="col text-center">
                    <b><h1>Error 404: Page not found</h1></b>
                </div>
                <div class="col">
                    <img class="img-fluid" src="https://img.freepik.com/free-vector/illustration-characters-fixing-cogwheel_53876-40796.jpg?w=740&t=st=1680813150~exp=1680813750~hmac=3da0eed3cce138888d4d68e3795d28b6c436b0c5920f4f372c5c9777d61511ef" alt="">
                </div>
            </div>
        </div>
        
    </section>
    <section></section>
    <section></section>
</main>

<%- include('partials/footer.ejs') %>