$skinColor: #f0ead2;
$colorSticky: #ffc971;
$maxWidth: 1100px;

body {
  padding: 0;
  margin: 0;
}
html {
  padding: 0;
  margin: 0;
}

// Page margin
.content-wrapper{

  #reserve-option-wrapper{
    position: relative;
    .reserve-option-bar{
      position: absolute;
      top: -50px;
      width: 100%;
      max-width: $maxWidth;
      position: absolute;
      height: 90px;
      label{
        width: 40%;
      }
      input, select{
        text-align: center;
        width: 60%;
      }

      .row{
        width: 100%;
      }
      #rs-input{
        background-color: #ffc971;
      }
    }
    #rs-result{
      width: 100%;
      background-color: #bcb8b1;
    }
  }

  #navbar-banner{
    .desktop-nav{
      width: 100%;
      max-width: $maxWidth;
    }
  }
  main{
    
    .content{
      width: 100%;

    }
    *{
      max-width: $maxWidth;
    }
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 80vh;
  }
  #hero{
    background-image: url('https://pixabay.com/get/gcb4d91ce8ec826c9c0a5803c105fd9909b91dafd38c73d6d8971a956cc66e2d888a37e79d9d4995bdaa9b5085ca0afe2_1280.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
  #reserve-hero{
    background-image: url('https://images2.dwell.com/photos/6063391372700811264/6136204840940625920/original.jpg?auto=format&q=35&w=960');
    min-height: 60vh;
  }

}

.row-content{
  min-height: 10vh;
  *{
    max-width: $maxWidth;
  }
}
#sign-up-btn {
  padding: 8px 20px;
  border-radius: 0.8rem;
  border: none;
  background-color: #463f3a;
  color: white;
  a {
    color: white;
  }
}
#navbar-banner {
  position: fixed;
  width: 100%;
  z-index: 101;
  background-color: $skinColor;
  transition: 0.3s;
}
#header-nav {
  font-size: x-large;
  font-weight: bolder;
  a {
    text-decoration: none;
    color: black;
  }
}
.title-nav {
  li {
    margin-right: 30px;
  }
}
.item-nav {
  li {
    margin-left: 30px;
  }
}
.burger {
  font-size: 2em;
  background: none;
  border: none;
  z-index: 100;
}
.mobile-nav {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  top: -100%;
  left: 0;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  background-color: #f0ead2;
  height: 80vh;
  z-index: 99;
  transition: 0.5s;
}

.mobile-nav.visible {
  top: 0;
}
.mob-item {
  *{
    width: 100%;
    color: black;
  }
  li {
    width: 100%;
    padding: 15px 0;
  }

}
.nav-link-mobile {
  border-radius: 2rem;
  margin: 10px 0;
  transition: 0.3s;
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    background-color: #bcb8b1;
  }
}
.nav-link {
  a {
    text-decoration: none;
    color: black;
  }
}
#account-option {
  border-bottom: black solid 1px;
}

